<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ListeServeurFtpSection" type="OutilAcquittementConsole.ListeServeurFtpSection, OutilAcquittementConsole"/>
    <section name="RepertoiresDistants" type="System.Configuration.DictionarySectionHandler" />
    <section name="RepertoiresTraitements" type="System.Configuration.DictionarySectionHandler" />
    <section name="CriteresFiltrageFichier" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <ListeServeurFtpSection>
    <ServeursFtp>
      <add HostName="lic1i307.server.lan"    Login="tomcat"    PassWord="tomcat" />
    </ServeursFtp>
  </ListeServeurFtpSection>

  <CriteresFiltrageFichier>
    <add key="FICHIER_PATTERN_REGEX" value="^.*-ERREUR.csv$" />
    <add key="NB_JOUR_MAX" value="7" />
  </CriteresFiltrageFichier>

  <RepertoiresDistants>
    <add key="REP_INDIVIDUEL" value="/env/omg/IN/Indiv/Erreur/" />
    <add key="REP_COLLECTIF"  value="/env/omg/IN/Collectif/Erreur/" />
  </RepertoiresDistants>

  <RepertoiresTraitements>
    <add key="REP_ACQUITTEMENT"     value="c:\Temp\acquittement\" />
  </RepertoiresTraitements>
  
</configuration>