<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ListeServeurFtpSection" type="OutilRapatriementConsole.ListeServeurFtpSection, OutilRapatriementConsole"/>
    <section name="RepertoiresDistants" type="System.Configuration.DictionarySectionHandler" />
    <section name="RepertoiresTraitements" type="System.Configuration.DictionarySectionHandler" />
    <section name="CriteresFiltrageFichier" type="System.Configuration.DictionarySectionHandler" />
  </configSections>


  <ListeServeurFtpSection>
    <ServeursFtp>
      <add HostName="lpc1i334.server.lan"    Login="tomcat"    PassWord="tomcat" />
      <add HostName="lpc1i335.server.lan"    Login="tomcat"    PassWord="tomcat" />
      <add HostName="lpc2i328.server.lan"    Login="tomcat"    PassWord="tomcat" />
      <add HostName="lpc2i330.server.lan"    Login="tomcat"    PassWord="tomcat" />
    </ServeursFtp>
  </ListeServeurFtpSection>

  <CriteresFiltrageFichier>
    <!--<add key="FICHIER_PREFIXE" value="OMG_CCN_*." />-->
    <add key="FICHIER_PREFIXE" value="OMG_*." />
    <add key="FICHIER_SUFFIXE" value=".*.tar.gz" />
    <add key="NB_JOUR_MAX" value="60" />
  </CriteresFiltrageFichier>


  <RepertoiresDistants>
    <add key="REP_INDIVIDUEL" value="/env/omg/OUT/Indiv/Zip/" />
    <add key="REP_COLLECTIF"  value="/env/omg/OUT/Collectif/Zip/" />
  </RepertoiresDistants>

  <RepertoiresTraitements>

    <add key="REP_RAPATRIEMENT" value="C:\Applications\AG2R\A0601 - OMG\Archives\1_telechargement\" />
    <add key="REP_EXTRACTION"   value="C:\Applications\AG2R\A0601 - OMG\Archives\2_extraction\" />
    <add key="REP_RESULTAT"     value="C:\Applications\AG2R\A0601 - OMG\Archives\3_resultat\" />
    
  </RepertoiresTraitements>
  
</configuration>